<% content_for :page_title do %>
    Sale Details
<% end %>


<%= link_to 'Download CSV', params.merge({format: 'csv'}) %>

<table class="table">
  <tr>
    <th>Products Name</th>
    <th>Count on Hand</th>
    <th>Sold</th>
    <th>Cost Price</th>
    <th>Price</th>
    <th>Origin Price</th>
    <th>Sold Days</th>
    <th>No Stock Days</th>
    <th>Brand</th>
    <th>Taxon</th>
  </tr>

  <% @report.sales.each_with_index do |move, index| %>
      <tr>
        <td><%= move.product_name %></td>
        <td><%= move.count_on_hand %></td>
        <td><%= move.sold %></td>
        <td><%= move.cost_price %></td>
        <td><%= move.price %></td>
        <td><%= move.origin_price %></td>
        <td><%= move.sold_days %></td>
        <td><%= move.no_stock_days %></td>
        <td><%= move.brand %></td>
        <td><%= move.taxon %></td>
      </tr>
  <% end %>


</table>

