<% content_for :page_title do %>
    Sale Details
<% end %>

<%= render :partial => 'spree/admin/reports/advanced_report_criteria', :locals => {} %>

<%= link_to 'Download CSV', params.merge({format: 'csv'}) %>

<table class="table">
  <tr>
    <th>Products Name</th>
    <th>Count on Hand</th>
    <th>Sold</th>
    <th>Cost Price</th>
    <th>Price</th>
    <th>Taxons</th>
    <th>Origin Price</th>
    <th>Sku</th>
    <th>Available On</th>
  </tr>

  <% @report.stock_movements.each_with_index do |move, index| %>
      <tr>
        <td><%= move.product_name %></td>
        <td><%= move.count_on_hand %></td>
        <td><%= move.sold %></td>
        <td><%= move.cost_price %></td>
        <td><%= move.price %></td>
        <td><%= move.taxons %></td>
        <td><%= move.origin_price %></td>
        <td><%= move.sku %></td>
        <td><%= move.available_on %></td>
      </tr>
  <% end %>


</table>

