<% content_for :page_title do %>
  <%= Spree.t('adv_report.' + @report.name.downcase) %> &middot; <small><%= @report.description %></small>
<% end %>

<% content_for :page_actions do %>
  <%= link_to_with_icon 'arrow-left', Spree.t(:back_to_reports_list), spree.admin_reports_url, class: 'button' %>
<% end %>

<% content_for :sidebar_title do %>
  <% Spree.t(:report_details) %>
<% end %>

<ul>
<% @report.data.each do |d|%>
  <li><%= d[0].to_s%>: <%= d[1]%></li>
<% end %>

</ul>